.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  border: 1px solid grey;
  padding: 20px 40px 20px 40px;
  border-radius: 90px;
  transition: background-color 0.3s;
}

.App-button:hover {
  cursor: pointer;
  background-color: rgb(15, 33, 41);
}

.App-signature {
  width: 50%;
  word-wrap: break-word;
  margin: 20px;
}
